@font-face {
  font-family: "iconfont"; /* Project id 4532312 */
  src: url('//at.alicdn.com/t/c/font_4532312_cj27des1ek5.woff2?t=1714711229798') format('woff2'),
       url('//at.alicdn.com/t/c/font_4532312_cj27des1ek5.woff?t=1714711229798') format('woff'),
       url('//at.alicdn.com/t/c/font_4532312_cj27des1ek5.ttf?t=1714711229798') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e7ab";
}

