@font-face {
  font-family: "iconfont"; /* Project id 4532312 */
  src: url('iconfont.woff2?t=1714726845781') format('woff2'),
       url('iconfont.woff?t=1714726845781') format('woff'),
       url('iconfont.ttf?t=1714726845781') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhihu:before {
  content: "\e601";
}

